<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This page hopes to connect students with community-driven service initatives, 
  programs, and organizations.  We offer up and coming volunteering opportunities 
  and a description of currently operating student organizations.
</p>

<p>
  Check out the various pages on this website for more information!  You can
  peruse the sites and sign up as an organization on the 'Organizations' Page.
</p>

<p>
  This website is designed and managed by Connecting Grinnellians, a Grinnell
  College student group that works to support community-driven service programs
  in Grinnell.  Click on the link at the footer to learn more about 
  Connecting Grinnellians.
</p>

<p>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere purus nec arcu sodales, sit amet sagittis risus tempus. Nunc auctor ex ac diam pulvinar cursus. Fusce condimentum lorem sem. Cras convallis eleifend cursus. Nam varius eget velit eu faucibus. Morbi sit amet porttitor nisi, fermentum dictum ligula. Etiam sapien est, euismod vitae volutpat vel, auctor eu orci. Vestibulum tempor massa sed mollis commodo. Vivamus pulvinar magna dui, sed sollicitudin massa pulvinar eget.

Vestibulum vel mi justo. Nam sit amet tortor gravida, scelerisque urna a, congue arcu. Maecenas accumsan, metus eu eleifend egestas, ligula lectus vehicula dolor, in consequat eros risus placerat felis. Fusce vestibulum dui ac fermentum hendrerit. Integer porta ex vitae auctor fringilla. Vestibulum mattis lorem et volutpat ullamcorper. Fusce et rhoncus lacus, quis euismod orci. Donec cursus diam lectus, ut lobortis mauris imperdiet ullamcorper. Quisque maximus massa ac dui eleifend, eu malesuada eros pretium. Curabitur vitae sem magna. Fusce ultrices non leo et finibus. Maecenas at quam ligula. Suspendisse gravida, lectus ac tempus feugiat, neque diam auctor lectus, eget hendrerit ligula lorem at leo. Etiam ut eros quam. Praesent posuere porta dapibus.

Aenean consequat, turpis a rhoncus commodo, nunc risus aliquet odio, aliquet rutrum neque ante vitae massa. Duis vestibulum non nisl in porta. Nam eleifend, eros non iaculis ornare, lectus sapien lobortis lacus, vel finibus urna dolor non sapien. Integer congue pharetra pharetra. Mauris et ante egestas lorem pharetra condimentum id nec ipsum. Nunc dictum leo libero, in rutrum sem pretium nec. Aliquam efficitur velit nisi, sit amet viverra est dignissim sit amet. Etiam venenatis tristique ante, eget maximus diam eleifend eu.
</p>