<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This page hopes to connect students with community-driven service initatives, programs, and organizations.  We offer up and coming volunteering opportunities and a description of the currently operating student organizations.
</p>