<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Engage Your Community</h1>
  <h2>
    Click below to get started!
  </h2>

  <%= link_to "Start Volunteering!", volunteers_path, class: "btn btn-lg btn-primary" %> 
</div>

<p>
   The following link is not
    appropriate for this site, but it brings me joy while I develop this
    practice site:
    <a href="https://www.youtube.com/watch?v=xaPepCVepCg">ShishKoomba.</a>
    I hope you enjoy this website!.
</p>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), 
                      "#" %>
                      
<p>
The above image is a testament to Michael Hartl's Ruby on Rails Tutorial that I 
used for the development of this website.  Please click the image to learn more
about Hartl's tutorial.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere purus nec arcu sodales, sit amet sagittis risus tempus. Nunc auctor ex ac diam pulvinar cursus. Fusce condimentum lorem sem. Cras convallis eleifend cursus. Nam varius eget velit eu faucibus. Morbi sit amet porttitor nisi, fermentum dictum ligula. Etiam sapien est, euismod vitae volutpat vel, auctor eu orci. Vestibulum tempor massa sed mollis commodo. Vivamus pulvinar magna dui, sed sollicitudin massa pulvinar eget.

Vestibulum vel mi justo. Nam sit amet tortor gravida, scelerisque urna a, congue arcu. Maecenas accumsan, metus eu eleifend egestas, ligula lectus vehicula dolor, in consequat eros risus placerat felis. Fusce vestibulum dui ac fermentum hendrerit. Integer porta ex vitae auctor fringilla. Vestibulum mattis lorem et volutpat ullamcorper. Fusce et rhoncus lacus, quis euismod orci. Donec cursus diam lectus, ut lobortis mauris imperdiet ullamcorper. Quisque maximus massa ac dui eleifend, eu malesuada eros pretium. Curabitur vitae sem magna. Fusce ultrices non leo et finibus. Maecenas at quam ligula. Suspendisse gravida, lectus ac tempus feugiat, neque diam auctor lectus, eget hendrerit ligula lorem at leo. Etiam ut eros quam. Praesent posuere porta dapibus.

Aenean consequat, turpis a rhoncus commodo, nunc risus aliquet odio, aliquet rutrum neque ante vitae massa. Duis vestibulum non nisl in porta. Nam eleifend, eros non iaculis ornare, lectus sapien lobortis lacus, vel finibus urna dolor non sapien. Integer congue pharetra pharetra. Mauris et ante egestas lorem pharetra condimentum id nec ipsum. Nunc dictum leo libero, in rutrum sem pretium nec. Aliquam efficitur velit nisi, sit amet viverra est dignissim sit amet. Etiam venenatis tristique ante, eget maximus diam eleifend eu.
</p>