<% provide(:title, 'Organizations') %>

<h1>Organizations</h1>

<div align="right"> 
  <%= link_to "Log in", "#", class: "btn btn-lg btn-primary" %>
</div>

<ul>
  <% @orgs.each do | org | %>
  <li><%= org.name %></li>
  <% end %>
</ul>