<% provide(:title, 'Organizations') %>

<h1>Organizations</h1>

<%= link_to "Log in", "#", class: "btn btn-lg btn-primary" %>
<ul>
  <% @orgs.each do | org | %>
  <li><%= org.name %></li>
  <% end %>
</ul>