<% provide(:title, 'Organizations') %>

<h1>Organizations</h1>

<% if !logged_in? %> 
  <div align="right"> 
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %> 

<ul>
  <% @users.each do | org | %>
  <li><%= org.name %></li>
  <% end %>
</ul>